In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb
import numpy as np 
from numpy import NaN

In [13]:
candidates = pd.read_csv('../Data/candidates.csv')
candidates.head(10)

,Name,Party,State,District Number,Incumbent Status,Winner Status,Percentage of Vote,Total Amount Raised,Total Amount Spent
0,Jerry Carl,(R),Alabama,District 01,N/a,Winner,64.9,1971321,1859349
1,James Averhart,(D),Alabama,District 01,N/a,N/a,35.0,80095,78973
2,Barry Moore,(R),Alabama,District 02,N/a,Winner,65.3,650807,669368
3,Phyllis Harvey-Hall,(D),Alabama,District 02,N/a,N/a,34.6,56050,55988
4,Mike D Rogers,(R),Alabama,District 03,Incumbent,Winner,67.5,1193111,1218564
5,Adia Winfrey,(D),Alabama,District 03,N/a,N/a,32.4,50273,40971
6,Robert B Aderholt,(R),Alabama,District 04,Incumbent,Winner,82.5,1255076,1323812
7,Mo Brooks,(R),Alabama,District 05,Incumbent,Winner,95.8,655365,210045
8,Gary Palmer,(R),Alabama,District 06,Incumbent,Winner,97.1,907219,909082
9,Terri Sewell,(D),Alabama,District 07,Incumbent,Winner,97.2,2168165,1495957

In [18]:
raised_pivot = (
    candidates
    .pivot_table(
        values = 'Total Amount Raised',
        index = 'State-District',
        columns = 'Winner Status'
    )
    .dropna()
)
raised_pivot

Winner Status                N/a     Winner
State-District
Alabama District 01      80095.0  1971321.0
Alabama District 02      56050.0   650807.0
Alabama District 03      50273.0  1193111.0
Alaska District 01     5178452.0  1922901.0
Arizona District 01    1675618.0  3381353.0
...                          ...        ...
Wisconsin District 05   370392.0  1155721.0
Wisconsin District 06   287753.0  1815756.0
Wisconsin District 07  1261957.0  2637459.0
Wisconsin District 08   416978.0  3202905.0
Wyoming District 01     134597.0  3003883.0

[371 rows x 2 columns]

In [19]:
raised_pivot['Raised_More'] = raised_pivot.apply(lambda x: x['Winner'] if x['Winner'] >=
                     x['N/a'] else np.nan, axis=1)
raised_pivot

Winner Status                N/a     Winner  Raised_More
State-District
Alabama District 01      80095.0  1971321.0    1971321.0
Alabama District 02      56050.0   650807.0     650807.0
Alabama District 03      50273.0  1193111.0    1193111.0
Alaska District 01     5178452.0  1922901.0          NaN
Arizona District 01    1675618.0  3381353.0    3381353.0
...                          ...        ...          ...
Wisconsin District 05   370392.0  1155721.0    1155721.0
Wisconsin District 06   287753.0  1815756.0    1815756.0
Wisconsin District 07  1261957.0  2637459.0    2637459.0
Wisconsin District 08   416978.0  3202905.0    3202905.0
Wyoming District 01     134597.0  3003883.0    3003883.0

[371 rows x 3 columns]

In [20]:
raised_pivot.notna().sum()

Winner Status
N/a            371
Winner         371
Raised_More    332
dtype: int64

In [21]:
332/371

0.894878706199461

In [22]:
spent_pivot = (
    candidates
    .pivot_table(
        values = 'Total Amount Spent',
        index = 'State-District',
        columns = 'Winner Status'
    )
    .dropna()
)
spent_pivot

Winner Status                N/a     Winner
State-District
Alabama District 01      78973.0  1859349.0
Alabama District 02      55988.0   669368.0
Alabama District 03      40971.0  1218564.0
Alaska District 01     5088103.0  1790448.0
Arizona District 01    1615704.0  3324138.0
...                          ...        ...
Wisconsin District 05   371799.0   968406.0
Wisconsin District 06   245788.0  1736659.0
Wisconsin District 07  1232690.0  2514740.0
Wisconsin District 08   399916.0  2841801.0
Wyoming District 01     132235.0  3060167.0

[371 rows x 2 columns]

In [23]:
spent_pivot['Spent_More'] = spent_pivot.apply(lambda x: x['Winner'] if x['Winner'] >=
                     x['N/a'] else np.nan, axis=1)
spent_pivot

Winner Status                N/a     Winner  Spent_More
State-District
Alabama District 01      78973.0  1859349.0   1859349.0
Alabama District 02      55988.0   669368.0    669368.0
Alabama District 03      40971.0  1218564.0   1218564.0
Alaska District 01     5088103.0  1790448.0         NaN
Arizona District 01    1615704.0  3324138.0   3324138.0
...                          ...        ...         ...
Wisconsin District 05   371799.0   968406.0    968406.0
Wisconsin District 06   245788.0  1736659.0   1736659.0
Wisconsin District 07  1232690.0  2514740.0   2514740.0
Wisconsin District 08   399916.0  2841801.0   2841801.0
Wyoming District 01     132235.0  3060167.0   3060167.0

[371 rows x 3 columns]

In [24]:
spent_pivot.notna().sum()

Winner Status
N/a           371
Winner        371
Spent_More    330
dtype: int64

In [25]:
330/371

0.889487870619946

In [26]:
incumbent_pivot = (
    candidates
    .pivot_table(
        values = 'Total Amount Raised',
        index = 'State-District',
        columns = 'Incumbent Status'
    )
    .dropna()
)
incumbent_pivot

Incumbent Status       Incumbent        N/a
State-District
Alabama District 03    1193111.0    50273.0
Alaska District 01     1922901.0  5178452.0
Arizona District 01    3381353.0  1675618.0
Arizona District 02    1849862.0   374821.0
Arizona District 03     843560.0    41422.0
...                          ...        ...
Wisconsin District 03  2989262.0  1962443.0
Wisconsin District 06  1815756.0   287753.0
Wisconsin District 07  2637459.0  1261957.0
Wisconsin District 08  3202905.0   416978.0
Wyoming District 01    3003883.0   134597.0

[330 rows x 2 columns]

In [27]:
incumbent_pivot['Spent_More'] = incumbent_pivot.apply(lambda x: x['Incumbent'] if x['Incumbent'] >=
                     x['N/a'] else np.nan, axis=1)
incumbent_pivot

Incumbent Status       Incumbent        N/a  Spent_More
State-District
Alabama District 03    1193111.0    50273.0   1193111.0
Alaska District 01     1922901.0  5178452.0         NaN
Arizona District 01    3381353.0  1675618.0   3381353.0
Arizona District 02    1849862.0   374821.0   1849862.0
Arizona District 03     843560.0    41422.0    843560.0
...                          ...        ...         ...
Wisconsin District 03  2989262.0  1962443.0   2989262.0
Wisconsin District 06  1815756.0   287753.0   1815756.0
Wisconsin District 07  2637459.0  1261957.0   2637459.0
Wisconsin District 08  3202905.0   416978.0   3202905.0
Wyoming District 01    3003883.0   134597.0   3003883.0

[330 rows x 3 columns]

In [28]:
incumbent_pivot.notna().sum()

Incumbent Status
Incumbent     330
N/a           330
Spent_More    307
dtype: int64

In [29]:
307/330

0.9303030303030303